extends base

block title
  if config.subtitle
    title= config.title + ' | ' + config.subtitle
  else
    title= config.title

block content
  for post in page.posts.toArray()
    .post
      h1.post-title
        if post.sticky
          span(class="top-post")= __('Sticky')
        include _partial/helpers.pug
        a(href=url_for(post.path))
          +title(post)
      .post-meta= post.date.format(config.date_format)
      if theme.disqus.enable == true
        a.disqus-comment-count(data-disqus-identifier=post.path, href=url_for(post.path) + '#disqus_thread')
      if theme.changyan
        a.ds-thread-count(href=url_for(post.path) + '#SOHUCS')
          span.cy_cmt_count(id='sourceId::' + post.date.valueOf() style='margin: 0 3px 0 1px;') 0
          span= ' ' + __('Comment')
      if post.description
        .post-content
          != post.description
      else if post.excerpt
        .post-content
          != post.excerpt
      else if post.content
        - const content = strip_html(post.content)
        - let expert = content.substring(0,theme.post_content_length)
        - content.length > theme.post_content_length ? expert += '...' : ''
        .post-content
          != expert
      p.readmore
        a(href=url_for(post.path))= __('Readmore')
  br
  br
  br

  h2 創立起源
  p.big-text 柏翰盃的創辦原因，源自於麗山高中的校慶，起初（第零屆）僅提供某屆307班同學參加(反正是111學年的307)，但由於第零屆活動大成功，讓有動力我們持續地舉辦下去。
  p.big-text 雖然在高中會學習到微積分，但大部分人都不理解他們與大學科系的連結，例如在物理學的應用，想必上過明德物理課的人都很清楚吧。
  p.big-text 而柏翰盃not only是單純的比賽，but also是一種討論會；考卷上會考到各式各樣的微積分的觀念，或是定理的證明及運用，當然簡單基礎的題目肯定不會少，而且還會有酷酷的引導文；因此，你能嘗試了解微積分的用途廣度。

  small <small><small>明德曰：「第二屆比賽一定很少人，參加很容易有明德。」</small></small>
  br
  small <small><small>又是明德曰：「我沒說過這句話」</small></small>

  br
  br
  
  h2 報名方式
  p.big-text 我們會開一個表單，提供各位填寫。或至307教室找黃柏翰報名即可，報名期限不定，直至比賽前一天皆能夠報名。我們將會有英文和中文試卷提供選擇，填寫表單時再選擇即可。
  a(href="") <small>立即報名 </small>
  
  br
  br

  h2 可是我沒學過微積分怎麼辦
  p.big-text 微積分的學習並不如想像中的那麼難，適當地跳過一些內容，並不為過；學習時，可以從找問題開始，有問題給你解決，你才會有動力學習。
  p.big-text 儘管只了解一部分，也會對你對未來的看法有一點影響。總之，去學就對了。

  br
  br

  h2 報名對象
  p.big-text 麗山高中一至三年級學生，不限年齡，不限身高、體重、性別
  p.big-text 請注意：比賽時禁止使用芥末醬、番茄醬等工具，且主辦單位並不提供薯條，還請見諒。
  <button onclick="alert('不准帶');">那我想帶怎麼辦？</button>
  
  br
  br
  h1 如果你想，可以考慮加入我們出題的行列





  include _partial/paginator.pug
  if theme.disqus.enable == true
    script#dsq-count-scr(src='//'+ theme.disqus.shortname + '.disqus.com/count.js', async)
  if theme.changyan
    script#cy_cmt_num(src='https://changyan.sohu.com/upload/plugins/plugins.list.count.js?clientId=' + theme.changyan, async)
  if config.mathjax
    include _partial/mathjax.pug
  if config.mathjax2
    include _partial/mathjax2.pug
